{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lumen/bootstrap.min.css" rel="stylesheet" integrity="sha384-iqcNtN3rj6Y1HX/R0a3zu3ngmbdwEa9qQGHdkXwSRoiE+Gj71p0UNDSm99LcXiXV" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script>
        $(document).ready(function(){
            $("#id_password1").addClass("form-control")
            $("#id_password2").addClass("form-control")
            $("#id_username").addClass("form-control")
        });
    </script>
</head>
<body>
    <div class="card card-reg mb-3" style="max-width: 20rem;">
        <div class="card-header">Register</div>
        <div class="card-body">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-danger">{{message}}</div>
                {% endfor %}
            {% endif %}
            <form action="{% url 'authApp:registerPage' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button type="submit" id="submision-reg" class="btn btn-primary">Sign-up</button>
            </form>
        </div>
        <a id="hyper" href="{% url 'authApp:loginPage' %}">I already have an account and want to login</a>
    </div>
</body>
</html>