.card {
    margin: auto;
    margin-top: 25vh;
}

.card-reg {
    margin-top: 15vh;
}

.btn-primary {
    width: 100%;
}

#red {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.btn-danger {
    width: 300px;
    margin: auto;
    font-size: 1rem;
}

#bam-txt {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont,;
    color: rgb(34, 34, 34);
    font-size: 3rem;
    margin-top: 100px;
}

#bam {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 20px;
}

.ha {
    color:red;
}

input {
    width: 100%;
    margin-bottom: 10px;
}

#id_password {
    margin-bottom: 15px;
}

#hyper {
    margin: auto;
    margin-bottom: 10px;
}

.card {
    box-shadow: 3px 3px 10px grey;
}